
#tabuleiro{
	width: 700px;
	height: 500px;
	margin: 0 auto;
	border: 1px solid #000;
	overflow: none;
}

.linha_tabuleiro1 {
	clear: both;
	width: 700px;
	height: 50px;
	margin: 0px;
	padding: 0px;
	background:	green;
}

.coluna_tabuleiro1{
	float: left;
	width: 68px;
	height: 48px;
	margin: 0px;
	padding: 0px;
}

.coluna_tabuleiro1:hover{
	border: 1px solid red;
}

.celula_selecionada{
	border: 1px solid red;
}

.celula_desselecionada{
	border: 1px solid #000;
}

.atacavel{
	border:1px solid yellow;
}

.peca{
	width:68px;
	height:48px;
}